<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gedoor.mkiconapk">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Used by Umeng and FIR -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.gedoor.mkiconapk.MaterializeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/round_launcher"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="562ded5d67e58ea57c0026bb" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="3c2e5d966debe118c74554c1fef5d7a3" />

        <meta-data
            android:name="com.gedoor.mkiconapk.io.DrawableGlideMode"
            android:value="GlideModule" />

        <activity
            android:name="com.gedoor.mkiconapk.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.gedoor.mkiconapk.AboutActivity" />

        <activity
            android:name="com.gedoor.mkiconapk.AdjustActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AdjustTheme" />

    </application>

</manifest>
